@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,300&display=swap");

.slogan {
  height: 60vh;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../images/background1.png");
  background-position: center;
  background-size: 100% 100%;
}

.home-page-review-card {
  background: white;
  cursor: pointer;
  width: 400px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  min-height: 250px;
  max-height: 280px;
  box-shadow: 0px 0px 3px 3px #e8e8e8;
  transition: all 0.2s;
}

.clinic-name-review-card {
  font-size: 1.2em;
  margin: 0px;
}

.clinic-address-review-card {
  font-size: 0.8em;
  margin: 0px;
  padding: 5px 0px;
}

.clinic-description-review-card {
  font-size: 0.8em;
  color: gray;
  font-style: italic;
  margin: 0px;
}

.horizontal-divider-review-card {
  width: 80%;
  height: 1px;
  margin: 10px auto;
  background-color: #a6a9b6b2;
}

/* Animation */
.home-page-review-card:hover {
  transform: scale(1.1, 1.1);
}

/* pink para */
#between3 {
  padding-top: 80px;
  padding-bottom: 150px;
  background-image: url("../images/background2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.container3 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-two {
  margin-top: 20px;
  font-size: 1em;
}

/* blue para */

.iphone-img {
  width: 20vw;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}
.container2 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  /* position: relative; */
  justify-content: space-around;
  position: relative;
  background-color: #7ad1ec;
}
.lis-right {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 0 30px 0;
}
.hinh-screen {
  /* position: absolute; */
  bottom: 0;
  left: 30px;
}
.span1 {
  margin-left: 4px;
  margin-right: 4px;
}
.list-one {
  font-size: 1.3em;
}
/* button & font chu cac doan */
#get-app {
  background-color: #fdeb7b;
  border: none;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.81);
}
#get-app:hover {
  background-color: white;
}
.get-app {
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.list-practice {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  background-color: #fdeb7b;
  margin-top: 30px;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.81);
}
.list-practice:hover {
  background-color: white;
  transition: 0.5s;
}
.are-you-doctor {
  font-size: 55px;
}
.bet3 {
  font-size: 25px;
  margin-top: 0;
}
.h1-doctor {
  margin-bottom: 0;
  margin-block-end: 0;
}
.h2-list {
  margin-left: 100px;
}
