:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.login-signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: none;
  color: white;
}

.login-btn:hover {
  opacity: 0.8;
}

.signup-btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background: none;
  outline: none;
  color: grey;
  border: 1px solid grey;
}

.signup-btn:nth-child(1):hover {
  background-color: #ef4f4f;
  color: white;
  border: none;
}

.signup-btn:nth-child(2):hover {
  background-color: #4267b2;
  color: white;
  border: none;
}

.login-signup-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.login-signup-divider .left,
.login-signup-divider .right {
  width: 100%;
  height: 1px;
  background-color: #bbbfca;
}

.login-signup-divider .text {
  margin: 0;
  padding: 5px 20px;
  font-size: 0.8em;
  font-weight: 400;
  color: grey;
}
