.carousel-wrapper {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.react-multi-carousel-list {
  height: 300px;
  width: 100%;
  margin: none;
}

.react-multiple-carousel__arrow {
  z-index: 1 !important;
}

.carousel-button:focus {
  outline: none;
}

.carousel-button:hover {
  border: none;
  background-color: #f05454;
  color: white;
}
