/* this comes from components cards */
hr {
  color: gray;
  background-color: gray;
}
.change-size {
  width: 20vw;
  height: auto;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #dddddd;
  transition: all 0.2s;
  background-color: white;
}

.all:hover {
  transform: scale(1.05);
}

.short-line {
  width: 50%;
}
.position-end {
  position: absolute;
  left: 0;
  bottom: 5px;
}
.position-right {
  position: absolute;
  right: 0;
  top: 5px;
}
.text-address {
  font-size: small;
  font-weight: normal;
}
.list-1 {
  margin-left: 10px;
}
/* this is all in search list page */
.first-item {
  display: flex;
  flex-direction: column;
}
.information {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: relative;
  width: 100%;
}

.information .list-service {
  padding: 0;
}

.information .list-service li {
  margin-right: 2em;
}
span {
  margin-left: 5px;
}
.wrap-card {
  margin-left: 10px;
  margin-right: 10px;
  border-color: grey;
}
/* this below for left side */
.wrapper-rating {
  border-style: groove;
  border-width: 2px;
  border-radius: 15px;
  width: 20vw;
  height: 20vh;
  border-color: grey;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.search-list .info-updated-wrapper .info-updated {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #dddddd;
}

.search-list .info-updated-wrapper .info-updated p {
  margin: 0;
  text-align: center;
}

.search-list .info-updated-wrapper .info-updated p span {
  font-size: 1.5em;
  font-weight: bold;
  color: #f05454;
}

.search-list .list-of-clinics {
  margin-top: 2rem;
}
